$font: "Roboto", Helvetica, Arial, sans-serif;

@mixin title {
  font: {
    family: $font;
    size: 24px;
    weight: 700;
  }
  margin: 0 0;
  margin-bottom: 20px;
}

.signin {
  width: 100%;
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: $font;
  flex: 1;
}

.description {
  @include title;
}

.text-box {
  margin-top: 10px;
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: rgb(159, 159, 165);
  transition: color 0.2s ease-in-out;
  &:hover {
    color: rgb(39, 39, 126);
  }
}
