.chat {
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
}

.chat__avatar {
  width: 40px;
  height: 40px;
}
.chat__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding-left: 20px;
}

.chat__userName {
  padding: 0 0 5px;
  margin: 0 0;
  font-size: 18px;
}

.chat__message {
  padding: 0 0;
  margin: 0 0;
  font-size: 16px;
}

.chat__timestamp {
  color: lightslategray;
  font-size: 14px;
}
