$font: "Roboto", Helvetica, Arial, sans-serif;

.chatScreen {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: $font;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  background-color: rgb(248, 248, 248);
  border-radius: 4px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding-top: 10px;
  margin-bottom: 10px;
  height: 92%;
  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #f0f2f5;
  }
  &:hover::-webkit-scrollbar-thumb {
    background: #b5b6b8;
  }
}

.send-box {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.send-field {
  width: 85%;
  padding: 10px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-right: 5px;
  &:focus {
    border: 1px solid rgb(182, 182, 182);
  }
}

.default-message {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: rgb(148, 148, 148);
}
