$font: "Roboto", Helvetica, Arial, sans-serif;

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  font-family: $font;
}

.match {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.match-title {
  font-size: 42px;
  color: white;
  font-family: $font;
  margin: 0 0;
}

.match-subtitle {
  opacity: 0.5;
  margin-bottom: 20px;
  > span {
    font-style: italic;
  }
}

.match-avatar {
  border-radius: 100%;
}

.buttons {
  margin-top: 20px;
}
.button {
  color: white !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  opacity: 0.5 !important;
  margin-right: 10px;
  transition: opacity 0.15s ease-in-out;
  &:hover {
    opacity: 1 !important;
  }
}

.outlined {
  border: 1px solid white !important;
}

.end {
  position: relative;
  text-align: center;
  font-weight: 500;
  color: rgb(113, 113, 113);
  margin-bottom: 10px;
}

.end-title {
  margin: 0 0;
  font-weight: 700;
  font-size: 18px;
}

.refresh-button {
  width: 30px;
  height: 30px;
}

.end-subtitle {
  margin: 5px 0;
}
