.chatScreen {
  max-width: 680px;
  margin: 0 auto;
}

.chatScreen__messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chatScreen__sendBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chatScreen__sendField {
  width: 88%;
  padding: 10px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}
