.field {
  height: 30%;
  width: 30%;
  border: 2px dotted rgb(187, 187, 187);
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
  &:hover {
    background-color: rgb(228, 228, 228);
  }
  &:focus,
  :active {
    outline: none;
  }
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  &:hover > button {
    display: block;
  }
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
