.card {
  max-width: 260px;
  width: 80vw;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-sizing: border-box;
}

.card__userName {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  margin: 0 0;
}
