$font: "Roboto", Helvetica, Arial, sans-serif;

.card {
  width: 60vmin;
  height: 60vmin;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: $font;
  &:active,
  :focus {
    outline: none;
  }
}

.user-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  margin: 0 0;
}
