.profileMemes {
  flex: 1;
}

.title {
  margin: 0 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
