.footer {
  width: 60%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  color: rgb(155, 155, 155);
  height: 8vh;
  align-items: center;
}

.icon {
  color: rgb(155, 155, 155);
}
