$font: "Roboto", Helvetica, Arial, sans-serif;

.profileInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  font-family: $font;
}

.title {
  margin: 0 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.text-area {
  display: block;
  width: 100%;
  min-height: 50px;
  max-height: 80px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px;
  overflow-y: auto;
  padding: 5px;
  font-family: $font;
  &:hover {
    border: 1px solid #607d8b;
  }
  &:focus,
  &:active {
    outline: none !important;
    border: 2px solid #607d8b;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
