.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 4px;
  &:hover {
    background-color: rgb(249, 249, 249);
  }
}

.link {
  text-decoration: none;
  color: black;
}

.avatar {
  width: 40px;
  height: 40px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding-left: 20px;
}

.user-name {
  padding: 0 0 5px;
  margin: 0 0;
  font-weight: 500;
  font-size: 16px;
}

.message {
  padding: 0 0;
  margin: 0 0;
  font-size: 16px;
}

.timestamp {
  color: lightslategray;
  font-size: 14px;
}
