$font: "Roboto", Helvetica, Arial, sans-serif;

.editedInput {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: $font;
  & > input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
  }
  & > input[type="password"] {
    border: none;
    border: 1px solid lightgray;
    flex: 1;
  }
  & > input:focus {
    outline: none;
    border: 1px solid lightgray;
  }
}

.label {
  text-align: start;
  width: 150px;
  font-size: 14px;
}

.icon {
  width: 20px;
  height: 20px;
}
